.app__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--color-charcoal);
    opacity: 90%;
    z-index: 10;
}

.app__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.app__modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: var(--color-white);
    min-width: 20vw;
    min-height: 20vh;
    padding: 0.75rem;
}

.app__modal-title {
    font-family: var(--ff-merriweather-bold);
    font-size: 1.5em;
    font-weight: 900;
    padding: 0.75rem 0;
    width: 100%;
    border-bottom: 2px solid var(--color-charcoal);
    text-align: center;
}

.app__modal-content {
    padding: 1.25rem 0;
    font-family: var(--ff-merriweather-regular);
    font-size: 1.1em;
    width: 100%;
}

.app__modal-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.75rem 0;
}

.app__modal-btns button {
    padding: 0.75rem;
    background: var(--color-red);
    color: var(--color-white);
    border: none;
    font-family: var(--ff-merriweather-regular);
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.app__modal-btns button:hover {
    transform: scale(1.1);
    background: var(--color-white);
    color: var(--color-red);
}